* {
  margin: auto auto auto auto;
}

/* header */

.head {
  margin: auto;
  max-width: 1320px;
  max-height: 600px;
  font-family: "Merriweather", serif;
}

.head-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  justify-content: center;
  border-radius: 10px;
}

.head-title {
  color: white;
  text-align: center;
}

#head-h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 233px;
}

#head-h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  padding-bottom: 177px;
}

/* main */

.main-1 {
  font-family: "Inter", sans-serif;
  width: auto;
  height: auto;
  margin: auto;
}

.main-1 h1 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
  padding-top: 120px;
}

.main-1 p {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.main-1 h2 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-1 img {
  display: block;
  margin: auto;
  padding-bottom: 120px;
}

/* main-2 */

.main-2 {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  margin: auto;
  border-radius: 15px;
}
