.head {
  margin: 16px
}

.head-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  background-position: cover;
  background-size: auto;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 16px;
}

.head-container h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 233px;
}

.head-container h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  padding-bottom: 177px;
}
