.main-2 {
  margin: 16px;
}

.main-2-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 16px;
  padding: 64px;
}

.main-2-container h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  text-align: justify;
  
}

.main-2-container p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
   
}

.main-2-container button {
  color: #fff;
  background-color: #ffffff00;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
   
}

.img-1 {
  margin: 75px;
}
